img {
  max-width: 100%;
}

.about-header {
  min-height: 300px;
  background-image: url("./images/foodImage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about h1 {
  font-size: 8rem;
  color: orange;
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20rem 0;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.image1 {
  background-image: url("./images/chef.jpg");
}

.image2 {
  background-image: url("./images/foodImage.jpg");
}

.image1,
.image2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  min-height: 400px;
}

.about-info {
  width: 45%;
}

.about-info h2 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.about-info button {
  padding: 1.8rem 0;
  width: 250px;
  background-color: orange;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  border: none;
  margin-top: 3rem;
}

@media screen and (max-width: 700px) {
  .about-header {
    margin-top: 4rem;
  }

  .flex {
    margin-top: 10rem;
  }

  .about-info p {
    text-align: center;
  }

  .about h1 {
    font-size: 3rem;
  }

  .flex {
    flex-direction: column;
  }

  .image1,
  .image2 {
    width: 100%;
  }

  .about-info {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .about-info h2 {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
  }

  .about-info button {
    width: 250px;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .about-info h2 {
    font-size: 2rem;
  }
}

